<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atividade da Aula 08</title>
  </head>
  <body>
    <div>
      <article>
        <b>Instituto Mauá de Tecnologia</b>
        <div class="imagem_centro"></div>
        <div class="navbar">
          <a routerLink="/home">Home</a><br />
          <a routerLink="/professores">Professores</a><br />
          <a routerLink="/sugestoes">Sugestões</a><br />
          <input type="text" placeholder="Search.." />
        </div>
        <router-outlet></router-outlet>
      </article>
    </div>
  </body>
</html>
