<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atividade da Aula 08</title>
  </head>
  <body>
    <div>
      <article>
        <b>Instituto Mauá de Tecnologia</b>
        <div class="topnav">
          <a class="active" href="app.component.html">Home</a>
          <a href="../app/atividade/atividade.component.html">Cursos</a>
          <a href="professores.app.component.html">Professores</a>
          <input type="text" placeholder="Search..">
        </div>
        <div class="imagem_centro"></div>
      </article>
    </div>
    <main>
      <div class="row m-5">
        <div class="card">
          <img
            class="card-img-top"
            src="assets/img/computacao.jpg"
            alt="Imagem do curso computação"
          />
          <div class="card-body">
            <h4 class="card-title">Engenharia da Computação</h4>
            <p class="card-text">
              A graduação em Engenharia de Computação da Mauá oferece aos alunos
              uma formação com base nos conceitos fundamentais da Engenharia,
              até a formação especializada em Sistemas Embarcados, Software,
              Infraestrutura e Segurança, Ciência de Dados e suas
              inter-relações.
            </p>
          </div>
        </div>
      </div>
      <div class="row m-5">
        <div class="card">
          <img
            class="imagem"
            src="assets/img/eletrica.jpg"
            alt="Imagem do curso elétrica"
          />
          <div class="card-body">
            <h4 class="card-title">Engenharia Elétrica</h4>
            <p class="card-text">
              A Mauá oferece a seu aluno de Engenheira Elétrica uma formação
              que, além de fortemente alicerçada nos conceitos fundamentais da
              Engenharia, permeia e entrelaça as áreas de Conversão de Energia,
              Regulamentação, Proteção, Distribuição e Energias Alternativas.
              Embora científico e tecnológico, o curso de Engenharia Elétrica
              também dá aos seus alunos a base para um pensamento humanístico e
              social que faz do profissional um elemento de atuação diferenciada
              na sociedade.
            </p>
          </div>
        </div>
      </div>
      <div class="row m-5">
        <div class="card">
          <img
            class="imagem"
            src="assets/img/eletronica.jpg"
            alt="Imagem do curso eletrônica"
          />
          <div class="card-body">
            <h4 class="card-title">Engenharia Eletrônica</h4>
            <p class="card-text">
              A Mauá oferece a seu aluno de Engenheira Eletrônica uma formação
              com base nos conceitos fundamentais da Engenharia com as áreas de
              Telecomunicações, Sistemas Computacionais, Eletrônica e Automação
              de Processos Industriais. Embora científica e tecnológica, a
              formação também valoriza os aspectos humanísticos e sociais que
              tornam o profissional um elemento de atuação diferenciada para a
              sociedade.
            </p>
          </div>
        </div>
      </div>
      <div class="row m-5">
        <div class="card">
          <img
            class="imagem"
            src="assets/img/automacao.jpg"
            alt="Imagem do curso controle e automação"
          />
          <div class="card-body">
            <h4 class="card-title">Engenharia de Controle e Automação</h4>
            <p class="card-text">
              Os alunos do curso de Engenharia de Controle da Mauá têm
              conhecimentos de Mecânica, Eletrônica e Computação para atuarem e
              se desenvolverem em novas áreas, entre as quais se destacam:
              Máquinas e Dispositivos Inteligentes, Robótica, Sistemas
              Autônomos, Integração de Sistemas Automatizados, Automação da
              Manufatura, Automação Predial e Controle de Processos.
            </p>
          </div>
        </div>
      </div>
      <div class="row m-5">
        <div class="card">
          <img
            class="imagem"
            src="assets/img/mecanica.jpg"
            alt="Imagem do curso mecânica"
          />
          <div class="card-body">
            <h4 class="card-title">Engenharia Mecânica</h4>
            <p class="card-text">
              A Engenharia Mecânica trabalha por soluções para satisfazer
              necessidades da sociedade com tecnologias apropriadas. Para isso,
              ela projeta e desenvolve processos de fabricação de produtos
              consumidos no cotidiano, de máquinas e equipamentos industriais e
              de instalações industriais e de geração ou transformação de
              energia.
            </p>
          </div>
        </div>
      </div>
      <div class="row m-5">
        <div class="card">
          <img
            class="imagem"
            src="assets/img/civil.jpg"
            alt="Imagem do curso civil"
          />
          <div class="card-body">
            <h4 class="card-title">Engenharia Civil</h4>
            <p class="card-text">
              O curso tem uma área de atuação ampla que exige do profissional
              uma formação diversificada e pronto para atender obras distintas:
              construção de edifícios residenciais, ferrovias, aeroportos ou
              faça o planejamento de sistemas de saneamento básico para cidades,
              podendo trabalhar com arquitetos e ambientalistas em grandes
              construções.
            </p>
          </div>
        </div>
      </div>
      <div class="row m-5">
        <div class="card">
          <img
            class="imagem"
            src="assets/img/quimica.jpg"
            alt="Imagem do curso química"
          />
          <div class="card-body">
            <h4 class="card-title">Engenharia Química</h4>
            <p class="card-text">
              Essa é a área mais abrangente da Engenharia e compreende todas as
              etapas de criação, desenvolvimento, melhoramento e aplicação dos
              processos químicos e bioquímicos e dos seus produtos. Compreende o
              projeto, a construção, o dimensionamento, a gestão, a operação e o
              controle de plantas industriais que realizam esses processos,
              incluindo a disposição e o tratamento de resíduos, o monitoramento
              e a redução de impactos ambientais e o controle de poluição
              ambiental (ar, água e solo).
            </p>
          </div>
        </div>
      </div>
      <div class="row m-5">
        <div class="card">
          <img
            class="imagem"
            src="assets/img/alimentos.jpg"
            alt="Imagem do curso alimentos"
          />
          <div class="card-body">
            <h4 class="card-title">Engenharia de Alimentos</h4>
            <p class="card-text">
              A graduação em Engenharia de Alimentos da Mauá oferece um intenso
              programa prático que leva o aluno desde as primeiras séries para
              os laboratórios didáticos e de pesquisa e de processamento em
              pequena escala. O campus conta ainda com uma instalação
              semi-industrial capaz de simular a produção de diversos produtos,
              semelhante ao que fazem as indústrias de alimentos.
            </p>
          </div>
        </div>
      </div>
      <div class="row m-5">
        <div class="card">
          <img
            class="imagem"
            src="assets/img/producao.jpg"
            alt="Imagem do curso produção"
          />
          <div class="card-body">
            <h4 class="card-title">Engenharia de Produção</h4>
            <p class="card-text">
              Essa é a graduação em Engenharia de Produção da Mauá, ideal para
              um futuro de sucesso. Projetar, implementar, gerenciar e melhorar
              continuamente sistemas produtivos e de distribuição de bens e
              serviços, compostos de infraestrutura, processos e pessoas.
              Monitorar a operação desses sistemas, com atenção especial para a
              eficiência - uso otimizado dos recursos internos - e para a
              eficácia - atendimento correto do consumidor. Prever e avaliar os
              resultados econômicos e os impactos sociais e ambientais advindos
              dessas operações.
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
