<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Engenharia da Computação na Mauá" />
    <meta name="keywords" content="Mauá, engenharia, computação" />

    <title>Engenharia da Computação na Mauá</title>
  </head>
  <body>
    <article>
      <b>Instituto Mauá de Tecnologia</b>
      <nav class="navbar navbar-expand-sm navbar-light bg-light" class="justify-content-between">
        <div class="container">
            <a href="./site.html" class="navbar-brand">Home</a>
            <button class="navbar-toggler" data-toggle="collapse" datatarget="#minhaNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="minhaNavBar">
                <ul class="navbar-nav">
                    <!--(li.nav-item>a[href="#"]{Link $})*3-->
                    <li class="nav-item">
                        <a class="nav-link" href="./professores.html">Professores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./sugestoes.html">Sugestões</a>
                    </li>
                </ul>
                <form action="" class="form-inline" class="form-inline my-2 my-lg-0">
                    <input type="text" class="form-control mr-sm-2" />
                    <button class="btn btn-outline-success" type="submit" placeholder="Search">
                        Search
                    </button>
                </form>
            </div>
        </div>
        <input type="text" class="form-control mr-2" id="login" placeholder="Digite seu login">
        <input type="password" class="form-control mr-2" id="senha" placeholder="Digite sua senha">
        </div>
        <button type="submit" class="btn btn-light">Enviar</button>
        </form>

    </nav>

    <div class="imagem_centro"></div>

    <div class="container">
      <table class="table table-striped-table-hover">
        <thead>
          <th>Cursos</th>
          <th>Professores</th>
        </thead>
        <tbody>
          <tr>
            <td>Engenharia da Computação</td>
            <td>Angelo Sebastiao Zanini</td>
          </tr>
          <tr>
            <td>Engenharia Elétrica</td>
            <td>Edval Delbone</td>
          </tr>
          <tr>
            <td>Engenharia Eletrônica</td>
            <td>Sergio Ribeiro Augusto</td>
          </tr>
          <tr>
            <td>Engenharia de Controle e Automação</td>
            <td>Fernando Silveira Madani</td>
          </tr>
          <tr>
            <td>Engenharia Mecânica</td>
            <td>Susana Marraccini Giampietri Lebrao</td>
          </tr>
          <tr>
            <td>Engenharia Civil</td>
            <td>Cassia Silveira de Assis</td>
          </tr>
          <tr>
            <td>Engenharia Química</td>
            <td>Luciano Gonçalves Ribeiro</td>
          </tr>
          <tr>
            <td>Engenharia de Alimentos</td>
            <td>Eliana Paula Ribeiro</td>
          </tr>
          <tr>
            <td>Engenharia de Produção</td>
            <td>David Garcia Penof</td>
          </tr>
        </tbody>
      </table>
    </div>
    </article>
  </body>
</html>
