<div class="container" id="tabela">
    <table class="table table-striped table-hover">
      <thead>
        <th>Cursos</th>
      </thead>
      <tbody>
        <tr>
          <td>Engenharia da Computação</td>
        </tr>
        <tr>
          <td>Engenharia Elétrica</td>
        </tr>
        <tr>
          <td>Engenharia Eletrônica</td>
        </tr>
        <tr>
          <td>Engenharia de Controle e Automação</td>
        </tr>
        <tr>
          <td>Engenharia Mecânica</td>
        </tr>
        <tr>
          <td>Engenharia Civil</td>
        </tr>
        <tr>
          <td>Engenharia Química</td>
        </tr>
        <tr>
          <td>Engenharia de Alimentos</td>
        </tr>
        <tr>
          <td>Engenharia de Produção</td>
        </tr>
      </tbody>
    </table>
  </div>
  